body {
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: scroll;
}

h1 {
    text-align: center;
    margin: 8rem 0 6rem;
    font-size: 8rem;
}

p {
    text-align: center;
    font-size: 2rem;
}

.wrapper {
    margin-top: 10rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex: 0 0 50%;
    padding: 30vh 0;
    scroll-snap-align: start;
}